{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% extends "BookBundle::layout.html.twig" %}


{% block title %}

  Add the Book- {{ parent() }}

{% endblock %}

{% block home_body %}
    <h3>Form</h3>
    <div class="well">
        {{ form(form) }}
    </div>
{% endblock %}