{% extends "BookBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block home_body %}

  <h2>List of Books</h2>
  <div class="row">
    <!-- card the averts  -->
          
    
      </div>

{% endblock %}